<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.knoc.mapper.LeagueOfLegendMapper">

	<insert id="insertUser">
		insert into tbl_game (profileIconId, summonerLevel,
		name, id, accountId)
		values
		(#{profileIconId}, #{summonerLevel},
		#{name}, #{id}, #{accountId})
	</insert>



	<update id="insertSoloRankInfo">
		update tbl_game
		set rank = #{rank}, tier = #{tier},
		leaguePoints = #{leaguePoints}, wins = #{wins}, losses = #{losses}
		where id = #{playerOrTeamId}
	</update>

	<select id="selectUserInfo" resultType="SummonerVO">
		select profileIconId,
		summonerLevel,name, tier, rank, leaguePoints, wins, losses, accountId
		from
		tbl_game
		where name = #{summonerName}
	</select>

	<select id="checkDuplicate" resultType="int">
		select count(id)
		from
		tbl_game
		where id = #{id}
	</select>

	<update id="updateUser">
		update tbl_game
		set profileIconId = #{profileIconId},
		summonerLevel = #{summonerLevel}, name = #{name}
		where id = #{id}
	</update>

	<insert id="insertMatch">
		insert into tbl_match (champion, season, queue, role,
		id, gameId)
		values (#{champion}, #{season}, #{queue}, #{role}, #{id},
		#{gameId})
	</insert>

	<select id="getMatchList" resultType="MatchReferenceDTO">
		select *
		from tbl_match
		where id = #{summonerId}
		limit 20
	</select>
</mapper>
